.header {
  height: 7vh;
  width: 100vw;
  background-color: #a8b9c2;
  margin: 0px;
  padding-left: 3vw;

  display: flex;
  align-items: center;
}

.header h1 {
  color: rgb(51, 58, 88);
  font-size: 2.3vw;
}

.header form {
  height: 70%;
  width: 23vw;
  background-color: #D5DCE3;
  margin-left: 2vw;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 0.6vw;
}

.header input {
  height: 4vh;
  width: 21vw;
  margin-left: 0.4vw;
  border: 0px;
  background-color: #D5DCE3;
}